<%- include("partials/header.ejs") %>

<h1>
    Plan your day
</h1>


<form class="container search-bar grid-container">
    <input class="input" type="text" placeholder="Enter Task">
    <button class="submit-btn">Add Task</button>
</form>
