body{
    background-color: #f5fdff;
    background-image: url("./images/blue.jpg");
    background-size: cover;
}

#home-btn{
    background-color: #03045e;
    color: white;
}

.nav-link, .fs-4{
    color:#03045e;
}

h1,.date,span{
    text-align: center;
    font-family: 'Kalam', cursive;
}

.grid-container{
    display: grid;
    gap: 10px;
    padding-left: 120px;
    padding: 10px;
    grid-template-columns: 3fr 0.5fr;
}

.submit-btn,.input{
    border-radius: 5px;
}

.center{
    margin: auto;
    width: 50%;
    
}

.task{
    padding: 10px;
}

#image{
    margin-right: 20px;
}

.head{
    font-size: 2.5rem;
}