body{
    background-color: #f5fdff;
}


#home-btn{
    background-color: #03045e;
    color: white;
}

.nav-link, .fs-4{
    color:#03045e;
}

h1{
    text-align: center;
}

.grid-container{
    display: grid;
    gap: 10px;
    padding-left: 120px;
    padding-top: 40px;
    grid-template-columns: 75% 15%;
}

.submit-btn,.input{
    border-radius: 5px;
}

